{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="content-wrapper">
            <div class="inner-container container">
                <div class="row">
                    <div class="section-header col-md-12">
                        <h2>About the book</h2>
                        <span></span>
                    </div> <!-- /.section-header -->
                </div> <!-- /.row -->

                <div class="row">
                    <div class=" col-md-12">
                        <img src="{{eng.imageURL}}" alt="Blog" height="360px" width="240px" >
                    </div> <!-- /.blog-image -->
                    <div class="blog-info col-md-12">
                        <div class="box-content">
                            <h2 class="blog-title">{{eng.title}}</h2>
                            <span class="blog-meta"></span>
                            <p>{{eng.body}}</p>
                                
                                    <h6 >{% if eng.free %}the book is empty{% else %}idle time:{{eng.b_date}}{% endif %}</h6>
                                
                                    {% if eng.free %}<form action="" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form.as_p}}
                                      
                                    
                                        <input type="submit" value="Save" />
                                    </form>{% endif %}
                        </div>



{% endblock content %} 