{% extends 'base.html' %}

{% block content %}

<form method='GET' action=".">

  <input type="text" name="q" placeholder="Search posts"/>
  <input type="submit"  value="🔍"/>
</form>
<style>
  .headerr li::before{
      display: none !important;
  }
  body ul li::before{
    display: none !important;
}
body .searchResults{
  list-style-type: disc !important;
}
body{
  color: black;
}
</style>


{% if query %}
    {% if resultuz %}
    <ul class="searchResults list-style-disc">
    {% for item in resultuz %}
        <a href= {% url 'books:uzdetail' item.id %}><li>{{ item }}</li></a>
    {% endfor %}
    </ul>
    {% else %}
       <p>O'zbekcha kitob topilmadi</p>
    {% endif %}

    {% if resultru %}
    <ul>
    {% for item in resultru %}
    <a href= {% url 'books:rusdetail' item.id %} <li>{{ item }}</li></a>
    {% endfor %}
    </ul>
    {% else %}
       <p>не найден</p>
    {% endif %}

    {% if resulten %}
    <ul class="searchResults">
    {% for item in resulten %}
    <a href={% url 'books:engdetail' item.id %} <li>{{ item|escape }}</li></a>
    {% endfor %}
    </ul>
    {% else %}
       <p>Not found</p>
    {% endif %}
{% endif %} 
{% endblock content %}
