{% extends 'base.html' %}

{% block content %}

<form method='GET' action=".">
  O'zbek kitoblari orasidan qidirish
  <input type="text" name="q" placeholder="Search posts"/>
  <input type="submit"  value="search"/>
</form>
<style>
  .headerr li::before{
      display: none !important;
  }
  body ul li::before{
    display: none !important;
}
body .searchResults{
  list-style-type: disc !important;
}
body{
  color: black;
}
</style>


{% if query %}
    {% if resultuz %}
    <ul class="searchResults list-style-disc">
    {% for item in resultuz %}
        <li>{{ item|escape }}</li>
    {% endfor %}
    </ul>
    {% else %}
       <p>O'zbekcha kitob topilmadi</p>
    {% endif %}

    {% if resultru %}
    <ul>
    {% for item in resultru %}
        <li>{{ item|escape }}</li>
    {% endfor %}
    </ul>
    {% else %}
       <p>topilmadi</p>
    {% endif %}

    {% if resulten %}
    <ul class="searchResults">
    {% for item in resulten %}
        <li>{{ item|escape }}</li>
    {% endfor %}
    </ul>
    {% else %}
       <p>topilmadi</p>
    {% endif %}
{% endif %} 
{% endblock content %}
